In [1]:
# Standard imports
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
heart_disease = pd.read_csv("data/heart-disease.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
heart_disease.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [5]:
X = heart_disease.drop("target", axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [6]:
y = heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1, stratify=y)

In [10]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

In [11]:
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [12]:
clf.fit(X_train, y_train)

RandomForestClassifier()

In [13]:
y_predictions = clf.predict(X_test)
print(y_predictions)

[1 1 1 1 1 1 1 1 0 0 0 1 0 1 0 0 1 1 1 0 1 0 0 1 0 1 0 1 0 0 1 0 1 0 1 0 0
 0 1 0 1 0 1 1 1 1 1 0 0 1 1 1 0 0 0 1 0 0 0 1 0]

In [17]:
clf.score(X_test, y_test)

0.7868852459016393

In [18]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [19]:
print(classification_report(y_test,y_predictions))

              precision    recall  f1-score   support

           0       0.76      0.79      0.77        28
           1       0.81      0.79      0.80        33

    accuracy                           0.79        61
   macro avg       0.79      0.79      0.79        61
weighted avg       0.79      0.79      0.79        61

In [20]:
conf_matrix=confusion_matrix(y_test, y_predictions)
conf_matrix

array([[22,  6],
       [ 7, 26]], dtype=int64)

In [23]:
high_score = 0
best_est = 0
for i in range(10, 151, 10):
    print(f"Trying model with {i} estimators...")
    model = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    score = model.score(X_test, y_test)*100
    if score > high_score:
        high_score = score
        best_est = i
    print(f"Model accuracy on test set: {score}%")
    print("\n")
print(f"High score: {high_score}, estimators: {best_est}")

Trying model with 10 estimators...
Model accuracy on test set: 81.9672131147541%


Trying model with 20 estimators...
Model accuracy on test set: 83.60655737704919%


Trying model with 30 estimators...
Model accuracy on test set: 80.32786885245902%


Trying model with 40 estimators...
Model accuracy on test set: 81.9672131147541%


Trying model with 50 estimators...
Model accuracy on test set: 81.9672131147541%


Trying model with 60 estimators...
Model accuracy on test set: 81.9672131147541%


Trying model with 70 estimators...
Model accuracy on test set: 77.04918032786885%


Trying model with 80 estimators...
Model accuracy on test set: 78.68852459016394%


Trying model with 90 estimators...
Model accuracy on test set: 78.68852459016394%


Trying model with 100 estimators...
Model accuracy on test set: 80.32786885245902%


Trying model with 110 estimators...
Model accuracy on test set: 83.60655737704919%


Trying model with 120 estimators...
Model accuracy on test set: 83.60655737704919%


Trying model with 130 estimators...
Model accuracy on test set: 78.68852459016394%


Trying model with 140 estimators...
Model accuracy on test set: 81.9672131147541%


Trying model with 150 estimators...
Model accuracy on test set: 81.9672131147541%


High score: 83.60655737704919, estimators: 20

In [24]:
from sklearn.model_selection import GridSearchCV

In [25]:
parameter_grid = {"n_estimators": [i for i in range(10, 151, 10)], "max_depth": [0,5,10]}
grid = GridSearchCV(
    RandomForestClassifier(),
    param_grid=parameter_grid,
    cv=5,
    scoring="precision"
)
grid.fit(X, y)

GridSearchCV(cv=5, estimator=RandomForestClassifier(),
             param_grid={'max_depth': [0, 5, 10],
                         'n_estimators': [10, 20, 30, 40, 50, 60, 70, 80, 90,
                                          100, 110, 120, 130, 140, 150]},
             scoring='precision')

In [26]:
grid.best_params_

{'max_depth': 5, 'n_estimators': 130}

In [27]:
clf = RandomForestClassifier(max_depth=5, n_estimators=130)

In [29]:
clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=5, n_estimators=130)

In [30]:
clf.score(X_test, y_test)

0.8032786885245902

In [31]:
import pickle
pickle.dump(clf, open("myModel.pkl", "wb"))

In [33]:
loaded_model = pickle.load(open("myModel.pkl", "rb"))
y_test_pred = loaded_model.predict(X_test)

In [34]:
y_test_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0], dtype=int64)

In [35]:
import joblib

joblib.dump(clf, "model2")

['model2']

In [38]:
mymodel = joblib.load("model2")

In [39]:
mymodel.score(X_test, y_test)

0.8032786885245902